<div class="sidebar" >
  <div class="row" class="sidebar_pasfoto">
    <img src="assets/images/home/2022Pasfoto.png" alt="pasfoto" class="sidebar_img">
  </div>

  <div class="sidebar_textbox" *ngIf="sidebarForm">
    <form [formGroup]="sidebarForm" >
      <div class="form-group">
        <label class="sidebar_label"
                for="naam">Naam</label>
        <span class="sidebar_input"> {{naam.value}}</span>
        
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="adres">Adres</label>
        <span class="sidebar_input"> {{adres.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="plaats">Plaats</label>
        <span class="sidebar_input"> {{plaats.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="geboortedatum" >Geboortedatum</label>
        <span class="sidebar_input"> {{geboortedatum.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="telefoon">Telefoon</label>
        <span class="sidebar_input"> {{telefoon.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="email">Email</label>
        <span class="sidebar_input"> {{email.value}}</span>
      </div>

    </form>

    <div class="form-group">
      <span class="sidebar_a">
        <a href={{linkedIn}} target="_blank">{{linkedIn}}</a>
      </span>
    </div>
  </div>

  <div class="row" class="sidebar_sent">
    <p class="sidebar_sent_p">
      Wilt u een PDF versie van mijn cv en/of <br>
      werkervaringsoverzicht ontvangen?<br> 
       
      <a href = "mailto:{{email.value}}?subject={{subject}}&body={{body}}">
        Stuur een email
      </a>
    </p>
  </div>

  <div class="row" class="sidebar_version">
    <p class="motivation_p">
      Website gemaakt met Angular 14<br>
      &#169; HDS
    </p>
  </div>
</div>
