<div class="sidebar" >
  <div class="row" class="sidebar_pasfoto">
    <img src="assets/images/home/2022Pasfoto.png" alt="pasfoto" class="sidebar_img">
  </div>

  <div class="sidebar_textbox" *ngIf="sidebarForm">
    <form [formGroup]="sidebarForm" >
      <div class="form-group">
        <label class="sidebar_label"
                for="naam">Naam</label>
        <span class="sidebar_input"> {{naam.value}}</span>
        
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="adres">Adres</label>
        <span class="sidebar_input"> {{adres.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="plaats">Plaats</label>
        <span class="sidebar_input"> {{plaats.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="geboortedatum" >Geboortedatum</label>
        <span class="sidebar_input"> {{geboortedatum.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="telefoon">Telefoon</label>
        <span class="sidebar_input"> {{telefoon.value}}</span>
      </div>

      <div class="form-group">
        <label class="sidebar_label"
                for="email">Email</label>
        <span class="sidebar_input"> {{email.value}}</span>
      </div>

    </form>

    <div class="form-group">
      <span class="sidebar_a">
        <a href={{linkedIn}} target="_blank">{{linkedIn}}</a>
      </span>
    </div>
  </div>
</div>
