<div class="personal" >
  <div class="row">
    <img src="assets/images/home/2021Pasfoto.jpg" alt="Logo" class="personal_pasfoto">
  </div>

  <div class="personal_textbox" *ngIf="personalForm">
    <form [formGroup]="personalForm" >
      <div class="form-group">
        <label class="personal_label"
                for="naam">Naam</label>
        <span class="personal_input"> {{naam.value}}</span>
        
      </div>

      <div class="form-group">
        <label class="personal_label"
                for="adres">Adres</label>
        <span class="personal_input"> {{adres.value}}</span>
      </div>

      <div class="form-group">
        <label class="personal_label"
                for="plaats">Plaats</label>
        <span class="personal_input"> {{plaats.value}}</span>
      </div>

      <div class="form-group">
        <label class="personal_label"
                for="geboortedatum" >Geboortedatum</label>
        <span class="personal_input"> {{geboortedatum.value}}</span>
      </div>

      <div class="form-group">
        <label class="personal_label"
                for="telefoon">Telefoon</label>
        <span class="personal_input"> {{telefoon.value}}</span>
      </div>

      <div class="form-group">
        <label class="personal_label"
                for="email">Email</label>
        <span class="personal_input"> {{email.value}}</span>
      </div>

    </form>

    <div class="form-group">
      <span class="personal_a">
        <a href={{linkedIn}} target="_blank">{{linkedIn}}</a>
      </span>
    </div>
  </div>
</div>
