<div class="hobbies">
     <img src= "assets/images/hobbies/wintersport_ski.jpg"
          alt="vakantie 1" class="hobbies-img hobbies-img-1" >
     <img src= "assets/images/hobbies/wintersport_zonnen.jpg"
          alt="vakantie 2" class="hobbies-img hobbies-img-2" >
     <img src= "assets/images/hobbies/wandelen.jpg"
          alt="vakantie 3" class="hobbies-img hobbies-img-3" >
     <img src= "assets/images/hobbies/sacksioni.jpg"
          alt="muziek 1" class="hobbies-img hobbies-img-4" >
     <img src= "assets/images/hobbies/francisgoya.jpg"
          alt="muziek 2" class="hobbies-img hobbies-img-5" >
     <img src= "assets/images/hobbies/keyboard.jpg"
          alt="tuin" class="hobbies-img hobbies-img-6" >
     <img src= "assets/images/home/startpagina_background.jpg"
          alt="muziek 3" class="hobbies-img hobbies-img-7" >
     <img src= "assets/images/hobbies/spellenkamer.jpg"
          alt="spel" class="hobbies-img hobbies-img-8" >
     <p class="hobbies-p hobbies-p-1" >Favoriet tijdens vakanties zijn skiën
     en wandelen in de bergen met onze Berner Sennen Bobby</p>
     <p class="hobbies-p hobbies-p-2" >Ik speel keyboard en gitaar en luister
          graag naar gitaristen als Sacksioni en Francis&nbsp;Goya</p>
     <p class="hobbies-p hobbies-p-3" >In de zomer ben ik een tuinliefhebber</p>
     <p class="hobbies-p hobbies-p-4" >Onze familie speelt graag bordspellen</p>
     <p class="hobbies-p hobbies-p-5" >en verder ...</p>
     <p class="hobbies-p hobbies-p-6" >Ik bewerk graag dia’s en foto’s digitaal</p>
     <p class="hobbies-p hobbies-p-7" >Maar ik besteed ook veel tijd aan studeren</p>
</div>