/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 20em) { @content };      //600px
  }

  @if $breakpoint == tab-port {
      @media only screen and (max-width: 37.5em) { @content };    //900px
  }

  @if $breakpoint == tab-land {
      @media only screen and (max-width: 62.5em) { @content };    //1200px
  }

  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 75em) { @content };      //1800
  }
  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  zoom: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #101d2c;
  padding: 1vw; }
  @media only screen and (max-width: 56.25em) {
    body {
      margin: 0 3vw;
      padding: 0rem;
      padding-top: 1vh; } }
  @media only screen and (max-width: 37.5em) {
    body {
      margin: 0;
      padding: 0rem;
      padding-top: 1vh; } }

html {
  background-color: #f9f7f6;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-infomargin {
  margin: 0 1.5rem;
  margin-bottom: 0.5rem; }

.pageframe {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 10vh 80vh;
  justify-content: center;
  border-right: 5vh solid #6D5D4B;
  justify-items: center;
  background-color: #f9f7f6; }
  @media only screen and (max-width: 37.5em) {
    .pageframe {
      border: none;
      grid-template-columns: min-content;
      grid-template-rows: max-content; } }
  @media only screen and (max-width: 56.25em) {
    .pageframe {
      border: none; } }
  .pageframe-side {
    background-color: #6D5D4B;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/-1; }
    @media only screen and (max-width: 37.5em) {
      .pageframe-side {
        background-color: green;
        grid-row: 1/2; } }
  .pageframe-tabs {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2; }
    @media only screen and (max-width: 37.5em) {
      .pageframe-tabs {
        grid-column: 1/2;
        grid-row: 2/3; } }
  .pageframe-content {
    justify-self: center;
    align-self: center;
    background-color: #f9f7f6;
    grid-column: 2/4;
    grid-row: 2/3; }
    @media only screen and (max-width: 37.5em) {
      .pageframe-content {
        grid-column: 1/2;
        grid-row: 3/4; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block; }

.btn-large {
  color: #363535;
  background-color: #6D5D4B;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 2rem;
  transition: all .5s; }

.btn-info {
  color: #363535;
  font-size: 4rem;
  font-weight: 400;
  padding: .3rem 1rem;
  border: none; }

.btn-small {
  color: #363535;
  background-color: #f9f7f6;
  font-size: 1rem;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  font-weight: 400; }
  @media only screen and (max-width: 37.5em) {
    .btn-small {
      padding: 0.3vh 0.3vw;
      margin: 0.3vh 0.3vw;
      border: 1px solid rgba(16, 29, 44, 0.75);
      border-radius: 1rem; } }

.btn-large:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75); }

.btn-small:active, .btn-small:hover {
  border-bottom: 2px solid rgba(16, 29, 44, 0.75); }

.heading-2 {
  font-size: 2rem;
  letter-spacing: .13rem;
  color: #6D5D4B; }

.heading-3 {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: .13rem;
  color: #363535;
  text-align: left; }

.heading-4 {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: .13rem;
  color: #363535;
  text-align: left; }

.infoline {
  font-size: 1rem;
  background-color: white;
  display: grid;
  justify-items: start;
  width: 40vw;
  grid-template-columns: 10rem max-content 1fr;
  grid-column-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .infoline {
      width: 80vw;
      margin-left: 5vw; } }
  .infoline-period {
    grid-column: 1/2; }
  .infoline-remark {
    justify-self: start;
    grid-column: 2/3;
    padding-right: 1rem; }
  .infoline-link {
    justify-self: end;
    background-color: white;
    grid-column: 3/4; }
    .infoline-link a {
      transform: translateY(-0.8rem);
      background-color: white; }
      .infoline-link a:hover {
        color: blue;
        border: none; }
    .infoline-link .bi {
      color: currentColor; }

.infotable {
  line-height: 1.3;
  font-size: 1.4rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
  width: 70vw;
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 5vw 13vw max-content 1fr;
  grid-template-rows: 2.5vw min-content;
  grid-column-gap: 2vw; }
  @media only screen and (max-width: 37.5em) {
    .infotable {
      width: 80vw;
      margin-left: 5vw; } }
  .infotable-heading {
    grid-column: 2/-1;
    grid-row: 1/2; }
  .infotable-img {
    padding-left: 1rem;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center; }
  .infotable-period {
    grid-column: 2/3;
    grid-row: 2/3; }
  .infotable-remark {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-right: 1rem; }
  .infotable-link {
    justify-self: end;
    background-color: white;
    grid-column: 4/5;
    grid-row: 1/3; }
    .infotable-link a:hover {
      color: blue;
      border: none; }
    .infotable-link .bi {
      color: currentColor; }

.infowork {
  padding: 0 1.5rem;
  font-size: 1rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
  display: grid;
  justify-items: start;
  grid-template-columns: max-content 50vw;
  grid-template-rows: repeat(5, min-content);
  grid-column-gap: 3vw; }
  @media only screen and (max-width: 37.5em) {
    .infowork {
      width: 80vw;
      margin-left: 5vw; } }
  @media only screen and (max-width: 37.5em) {
    .infowork {
      grid-template-columns: max-content 30vw; } }
  .infowork-task {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .infowork-project {
    grid-column: 2/-1;
    grid-row: 2/3; }
  .infowork-description {
    grid-column: 2/-1;
    grid-row: 3/4; }
  .infowork-keyword {
    grid-column: 2/-1;
    grid-row: 4/5; }
  .infowork-task {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .infowork-project-label {
    grid-column: 1/2;
    grid-row: 2/3; }
  .infowork-description-label {
    grid-column: 1/2;
    grid-row: 3/4; }
  .infowork-keyword-label {
    grid-column: 1/2;
    grid-row: 4/5; }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 1;
  overflow-y: scroll !important; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.6); } }
  .popup-extra {
    font-size: 1.4rem;
    margin: 1vw;
    padding: 1vw;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1; }
  .popup-content {
    font-size: 1.4rem;
    padding: 1vw;
    position: relative;
    width: 80vw;
    top: 5vh;
    left: 10vw;
    display: block;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1; }
  .popup ul {
    padding-left: 2vw; }
  .popup-img {
    display: block;
    width: 90%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-close {
    fill: red;
    font-size: 2.5rem;
    width: 95%;
    color: black;
    text-align: right;
    text-decoration: none;
    display: block; }
    .popup-close:hover {
      color: #aaaaaa; }

.personal {
  display: grid;
  position: relative;
  justify-items: center;
  grid-template-columns: fit-content;
  grid-template-rows: minmax(20rem, min-content) min-content;
  padding-bottom: 1rem;
  color: #f9f7f6;
  background-color: #6D5D4B; }
  @media only screen and (max-width: 37.5em) {
    .personal {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: minmax(20rem, min-content);
      padding-bottom: 0rem; } }
  .personal_pasfoto {
    grid-row: 1/2;
    margin: 4vh 2vw;
    height: 30vh;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem #aaaaaa; }
    @media only screen and (max-width: 37.5em) {
      .personal_pasfoto {
        grid-row: 1/2;
        grid-column: 1/2;
        background-color: green;
        height: 13vh;
        margin: 2vh 10vw; } }
  .personal_textbox {
    grid-row: 2/3;
    margin-left: 2vw;
    padding: 0 1vw;
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .personal_textbox {
        align-self: center;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right: 2vw; } }
  .personal_label {
    font-weight: bold; }
  .personal_input {
    margin-left: 0.5vw; }
  .personal_a {
    margin-right: 0.5vw;
    border: none;
    white-space: nowrap;
    text-decoration: none; }
    .personal_a a {
      color: #f9f7f6; }

.tabs {
  background-color: #f9f7f6;
  box-shadow: 0 0.5rem 1rem #aaaaaa;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(8, max-content);
  align-content: center; }
  @media only screen and (max-width: 37.5em) {
    .tabs {
      box-shadow: none;
      border: none;
      margin: 1vh 0; } }
  .tabs-a {
    font-size: 1.4rem;
    float: right; }
    @media only screen and (max-width: 37.5em) {
      .tabs-a {
        font-size: 1.4rem; } }
  .tabs-active {
    background-color: #aaaaaa;
    border-radius: 1rem; }

.cvitems {
  display: block;
  background-color: #f9f7f6;
  border-left: 0.2rem solid #6D5D4B; }
  @media only screen and (max-width: 37.5em) {
    .cvitems {
      border-top: 0.2rem solid #6D5D4B;
      border-left: none; } }

.hobbies {
  height: 80vh;
  width: 70vw;
  margin-left: 5vw;
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: .3rem; }
  @media only screen and (max-width: 37.5em) {
    .hobbies {
      height: 90vh;
      width: 90vw; } }
  .hobbies-img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    .hobbies-img-1 {
      grid-column: 1/2;
      grid-row: 1/span 5;
      align-self: start; }
    .hobbies-img-2 {
      grid-column: 2/span 2;
      grid-row: 1/span 4;
      align-self: start; }
    .hobbies-img-3 {
      grid-column: 4/5;
      grid-row: 1/span 5; }
    .hobbies-img-4 {
      grid-column: 2/3;
      grid-row: 9/span 3; }
    .hobbies-img-5 {
      grid-column: 2/3;
      grid-row: 6/span 3; }
    .hobbies-img-6 {
      grid-column: 1/2;
      grid-row: 8/span 4; }
    .hobbies-img-7 {
      grid-column: 3/span 2;
      grid-row: 7/span 5; }
    .hobbies-img-8 {
      grid-column: 1/span 2;
      grid-row: 12/span 4; }
  .hobbies-p {
    font-size: 1.2rem;
    font-family: 'Nunito', cursive;
    color: #6D5D4B;
    line-height: 1rem; }
    .hobbies-p-1 {
      grid-column: 2/4;
      grid-row: 5/span 1; }
    .hobbies-p-2 {
      grid-column: 1/2;
      grid-row: 6/span 2;
      align-self: end; }
    .hobbies-p-3 {
      grid-column: 3/span 2;
      grid-row: 6/span 1;
      align-self: end; }
    .hobbies-p-4 {
      grid-column: 1/span 2;
      grid-row: 16; }
    .hobbies-p-5 {
      grid-column: 3/span 2;
      grid-row: 13/span 1;
      align-self: end; }
    .hobbies-p-6 {
      align-self: center;
      grid-column: 3/span 2;
      grid-row: 14/span 1; }
    .hobbies-p-7 {
      align-self: start;
      grid-column: 3/span 2;
      grid-row: 15/span 1; }

.home {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(249, 247, 246, 0.8), rgba(109, 93, 75, 0.8)), url(../../assets/images/home/startpagina_background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media only screen and (max-width: 37.5em) {
    .home {
      height: 50vh; } }
  @media only screen and (max-width: 37.5em) {
    .home {
      clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%); } }
  .home-pasfoto {
    position: absolute;
    top: 4%;
    right: 2%;
    border: 0.2rem solid #6D5D4B;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem #aaaaaa;
    width: 20%; }
  .home-textbox {
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .home-primary {
    color: #101d2c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem; }
  .home-primary-main {
    display: inline-block;
    font-size: 3rem;
    letter-spacing: .2rem; }
  .home-primary-sub {
    display: inline-block;
    font-size: 1.8rem;
    letter-spacing: .13rem; }
  .home-buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .home-buttons {
        grid-template-columns: max-content;
        grid-template-rows: repeat(2, max-content);
        justify-content: center;
        grid-column-gap: 0rem;
        grid-row-gap: 2rem; } }

.knowledge {
  line-height: 2rem;
  width: 70vw;
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: 10vw 60vw;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .knowledge {
      grid-template-columns: 15vw 60vw; } }
  @media only screen and (max-width: 56.25em) {
    .knowledge {
      grid-column-gap: 1rem; } }

.language {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .language {
      margin-top: 10vh;
      grid-column-gap: 10px;
      grid-row-gap: 15px; } }
  .language-text {
    font-family: 'Nunito', cursive;
    text-align: center;
    font-size: 1.4rem;
    color: #6D5D4B; }
  .language-1 {
    grid-row: 1/2;
    background-image: url(https://youtu.be/S_o-TJRHuIQ); }
  .language-img > img {
    padding: 2rem;
    height: 12rem;
    width: 100%; }

.motivation_textbox {
  margin-left: 2vw;
  width: 70vw;
  color: #54483A;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .motivation_textbox {
      width: 80vw; } }

.motivation_img {
  width: 2rem;
  margin-right: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .motivation_img {
      display: none; } }

.motivation_p {
  margin-bottom: 0.5rem;
  font-size: inherit; }

.work {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-content: start;
  justify-items: center;
  align-items: start; }
  .work-shape {
    width: 8vw;
    height: 8vw;
    margin: 0;
    padding: 0;
    float: left;
    position: relative; }
    .work-shape:visited, .work-shape:hover {
      border: none; }
  .work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }
    .work-img:hover {
      filter: blur(3px) brightness(80%); }
    .work-img:active, .work-img:visited {
      filter: blur(0px) brightness(100%);
      border: 3px solid red; }
    @media only screen and (max-width: 37.5em) {
      .work-img {
        display: none; } }
  .work-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 800;
    font-size: 1.4rem;
    border: 1px solid #101d2c;
    border-radius: 3rem;
    color: #101d2c;
    background-color: rgba(249, 247, 246, 0.8);
    transform: translate(-50%, -50%);
    text-align: center; }
  .work-details {
    justify-self: start;
    display: block;
    grid-row: 2/span 1;
    grid-column: 1/-1;
    align-self: start; }
