/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 20em) { @content };      //600px
  }

  @if $breakpoint == tab-port {
      @media only screen and (max-width: 37.5em) { @content };    //900px
  }

  @if $breakpoint == tab-land {
      @media only screen and (max-width: 62.5em) { @content };    //1200px
  }

  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 75em) { @content };      //1800
  }
  */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  zoom: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #54483A;
  padding: 1vw; }
  @media only screen and (max-width: 47em) {
    body {
      margin: 0;
      padding: 0rem;
      padding-top: 1vh; } }

html {
  background-color: #f9f7f6;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 47em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.u-center_text {
  text-align: center !important; }

.u-left_text {
  text-align: left !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-infomargin {
  margin: 0vw;
  margin-bottom: 0.5rem; }

.pageframe {
  display: grid;
  grid-template-columns: 24vw 76vw;
  grid-template-rows: 10vh 80vh;
  justify-content: center;
  border-right: 3vw solid #6D5D4B;
  justify-items: center;
  background-color: #f9f7f6; }
  @media only screen and (max-width: 47em) {
    .pageframe {
      border: none;
      grid-template-columns: min-content;
      grid-template-rows: max-content; } }
  .pageframe_side {
    overflow: none;
    background-color: #6D5D4B;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/-1; }
    @media only screen and (max-width: 47em) {
      .pageframe_side {
        grid-row: 1/2; } }
  .pageframe_tabs {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/2; }
    @media only screen and (max-width: 47em) {
      .pageframe_tabs {
        grid-column: 1/2;
        grid-row: 2/3; } }
  .pageframe_content {
    padding: 0 3vw;
    width: 70vw;
    font-size: 1.4rem;
    justify-self: center;
    align-self: center;
    background-color: #f9f7f6;
    grid-column: 2/4;
    grid-row: 2/3; }
    @media only screen and (max-width: 47em) {
      .pageframe_content {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 90vw; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block; }

.btn_large {
  color: white;
  background-color: #6D5D4B;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 2rem;
  transition: all .5s; }

.btn_info {
  color: #6D5D4B;
  font-size: 4rem;
  font-weight: 400;
  padding: .3rem 1rem;
  border: none; }

.btn_small {
  color: #363535;
  background-color: #f9f7f6;
  font-size: 1rem;
  padding: 0.2vw;
  margin: 0.2vw;
  border: 1px solid rgba(109, 93, 75, 0.75);
  border-radius: 1rem;
  font-weight: 400; }

.btn_large:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75); }

.heading-2 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: .13rem;
  color: #6D5D4B; }

.heading-3 {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: .13rem;
  color: #363535;
  text-align: left; }

.heading-4 {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: .13rem;
  color: #363535;
  text-align: left; }

.infoline {
  background-color: white;
  display: grid;
  justify-items: start;
  grid-template-columns: 8vw 60vw;
  margin-bottom: 1vh;
  grid-column-gap: 1vw; }
  @media only screen and (max-width: 37.5em) {
    .infoline {
      grid-template-columns: 15vw 70vw; } }
  .infoline_period {
    grid-column: 1/2; }
  .infoline_remark {
    justify-self: start;
    grid-column: 2/3;
    padding-right: 1rem; }

.infotable {
  line-height: 1.3;
  font-size: 1.4rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
  display: grid;
  justify-items: start;
  transform: translateX(-3vw);
  width: 70vw;
  grid-template-columns: 4vw 13vw 45vw 5vw;
  grid-row-gap: 1rem;
  margin-bottom: 1vh;
  grid-template-rows: 2.5vw min-content;
  grid-column-gap: 1vw; }
  @media only screen and (max-width: 47em) {
    .infotable {
      width: 90vw;
      transform: translateX(-3vw);
      grid-template-columns: 8vw 18vw 53vw 5vw; } }
  .infotable_heading {
    margin-left: 1vw;
    grid-column: 2/-1;
    grid-row: 1/2;
    font-weight: bold; }
  .infotable_img1 {
    height: 5vh;
    padding-left: 1rem;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center; }
    @media only screen and (max-width: 47em) {
      .infotable_img1 {
        height: 3vh; } }
  .infotable_img2 {
    width: 100%;
    padding-left: 1rem;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center; }
  .infotable_period {
    margin-left: 1vw;
    grid-column: 2/3;
    grid-row: 2/3; }
  .infotable_remark {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-right: 1rem; }
  .infotable_link {
    justify-self: end;
    background-color: white;
    grid-column: 4/5;
    grid-row: 1/3; }
    .infotable_link a:hover {
      color: blue;
      border: none; }
    .infotable_link .bi {
      color: currentColor; }

.infowork {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
  display: grid;
  justify-items: start;
  grid-template-columns: 14vw 50vw;
  grid-template-rows: repeat(5, min-content);
  grid-column-gap: 3vw;
  margin-bottom: 1vh;
  padding-left: 1vw; }
  @media only screen and (max-width: 47em) {
    .infowork {
      grid-template-columns: 25vw 60vw; } }
  .infowork_task {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .infowork_project {
    grid-column: 2/-1;
    grid-row: 2/3; }
  .infowork_description {
    grid-column: 2/-1;
    grid-row: 3/4; }
  .infowork_keyword {
    grid-column: 2/-1;
    grid-row: 4/5; }
  .infowork_task {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .infowork_project-label {
    grid-column: 1/2;
    grid-row: 2/3; }
  .infowork_description-label {
    grid-column: 1/2;
    grid-row: 3/4; }
  .infowork_keyword-label {
    grid-column: 1/2;
    grid-row: 4/5; }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 1;
  overflow-y: scroll !important; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.6); } }
  .popup_extra {
    background-color: white;
    font-size: 1.4rem;
    margin: 1vw 0vw;
    padding: 1vw;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0.2vw solid #6D5D4B;
    opacity: 1; }
  .popup_content {
    font-size: 1.4rem;
    padding: 1vw;
    position: relative;
    width: 70vw;
    top: 5vh;
    left: 22vw;
    display: block;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1; }
    @media only screen and (max-width: 47em) {
      .popup_content {
        width: 90vw;
        left: 5vw; } }
  .popup ul {
    padding-left: 2vw; }
  .popup_img {
    display: block;
    width: 90%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup_close {
    fill: red;
    font-size: 2.5rem;
    width: 95%;
    color: black;
    text-align: right;
    text-decoration: none;
    display: block; }
    .popup_close:hover {
      color: #aaaaaa; }

.sidebar {
  display: grid;
  position: relative;
  grid-template-columns: 24vw;
  grid-template-rows: minmax(20rem, min-content) 3, min-content;
  padding-bottom: 1rem;
  color: white;
  background-color: #6D5D4B; }
  @media only screen and (max-width: 47em) {
    .sidebar {
      grid-template-columns: 30vw 60vw;
      grid-template-rows: minmax(20rem, min-content);
      padding-bottom: 0rem; } }
  .sidebar_pasfoto {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    margin: 4vh 0; }
    @media only screen and (max-width: 47em) {
      .sidebar_pasfoto {
        margin: 2vh 0;
        grid-column: 1/2; } }
  .sidebar_img {
    width: 15vw;
    height: 18vw;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem #aaaaaa; }
  .sidebar_textbox {
    grid-row: 2/3;
    margin-left: 2vw;
    padding: 0 1vw;
    display: inline-block; }
    @media only screen and (max-width: 47em) {
      .sidebar_textbox {
        font-size: 1.4rem;
        align-self: center;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right: 2vw; } }
  .sidebar_label {
    font-weight: bold; }
  .sidebar_input {
    margin-left: 0.5vw; }
  .sidebar_a {
    margin-right: 0.5vw;
    border: none;
    white-space: nowrap;
    text-decoration: none; }
    .sidebar_a a {
      color: white; }
  .sidebar_sent {
    grid-row: 3/4;
    padding: 2vw 1vw;
    display: inline-block; }
    .sidebar_sent_p {
      margin-left: 3.5vw;
      margin-right: 3vw;
      padding: 1vw;
      border: 1px solid white; }
  .sidebar_version {
    grid-row: 4/5;
    margin-left: 2vw;
    padding: 1vw;
    display: inline-block; }

.table, .th, .td {
  border: 0.2rem solid #6D5D4B; }

.tr {
  height: 1rem; }

.study {
  border-collapse: collapse;
  border: 0.2rem solid #6D5D4B;
  height: 0.1rem; }
  .study_th {
    background-color: #6D5D4B;
    color: #f9f7f6;
    text-align: left;
    padding: 0.1rem 0.4rem; }
  .study_td {
    background: #f9f7f6;
    padding: 0.1rem 0.1rem; }
    .study_td_vak {
      padding: 0.1rem 0.3rem;
      width: 30rem; }
    .study_td_punt {
      text-align: center;
      padding: 0.1rem 0rem;
      width: 5rem; }
    .study_td_link {
      padding: 0.1rem 0rem;
      width: 50rem; }


.tabs {
  background-color: #f9f7f6;
  box-shadow: 0 0.5rem 1rem #aaaaaa;
  border-radius: 1rem;
  width: 70vw;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(8, max-content);
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .tabs {
      box-shadow: none;
      border: none; } }
  .tabs_a {
    font-size: 1.4rem;
    float: right; }
  .tabs_active {
    background-color: #6D5D4B;
    border-radius: 1rem;
    color: #f9f7f6; }

.cvitems {
  display: block;
  background-color: #f9f7f6;
  border-left: 0.2rem solid #6D5D4B; }
  @media only screen and (max-width: 47em) {
    .cvitems {
      border-top: 0.2rem solid #6D5D4B;
      border-left: none; } }

.hobbies {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: .3rem; }
  .hobbies_img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    .hobbies_img_1 {
      grid-column: 1/2;
      grid-row: 1/span 5;
      align-self: start; }
    .hobbies_img_2 {
      grid-column: 2/span 2;
      grid-row: 1/span 4;
      align-self: start; }
    .hobbies_img_3 {
      grid-column: 4/5;
      grid-row: 1/span 5; }
    .hobbies_img_4 {
      grid-column: 2/3;
      grid-row: 9/span 3; }
    .hobbies_img_5 {
      grid-column: 2/3;
      grid-row: 6/span 3; }
    .hobbies_img_6 {
      grid-column: 1/2;
      grid-row: 8/span 4; }
    .hobbies_img_7 {
      grid-column: 3/span 2;
      grid-row: 7/span 5; }
    .hobbies_img_8 {
      grid-column: 1/span 2;
      grid-row: 12/span 4; }
  .hobbies_p {
    font-size: 1.2rem;
    font-family: 'Nunito', cursive;
    color: #6D5D4B;
    line-height: 1rem; }
    .hobbies_p_1 {
      grid-column: 2/4;
      grid-row: 5/span 1; }
    .hobbies_p_2 {
      grid-column: 1/2;
      grid-row: 6/span 2;
      align-self: end; }
    .hobbies_p_3 {
      grid-column: 3/span 2;
      grid-row: 6/span 1;
      align-self: end; }
    .hobbies_p_4 {
      grid-column: 1/span 2;
      grid-row: 16; }
    .hobbies_p_5 {
      grid-column: 3/span 2;
      grid-row: 13/span 1;
      align-self: end; }
    .hobbies_p_6 {
      align-self: center;
      grid-column: 3/span 2;
      grid-row: 14/span 1; }
    .hobbies_p_7 {
      align-self: start;
      grid-column: 3/span 2;
      grid-row: 15/span 1; }

.home {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(249, 247, 246, 0.8), rgba(109, 93, 75, 0.8)), url(../../assets/images/home/startpagina_background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media only screen and (max-width: 47em) {
    .home {
      height: 50vh; } }
  @media only screen and (max-width: 47em) {
    .home {
      clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%); } }
  .home_pasfoto {
    position: absolute;
    top: 4vw;
    right: 4vw;
    border: 0.2rem solid #6D5D4B;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem #aaaaaa;
    width: 20vw;
    height: 24vw; }
  .home_textbox {
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .home_primary {
    color: #54483A;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem; }
  .home_primary_main {
    display: inline-block;
    font-size: 3rem;
    letter-spacing: .2rem; }
  .home_primary_sub {
    display: inline-block;
    font-size: 1.8rem;
    letter-spacing: .13rem; }
  .home_buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 2rem; }
    @media only screen and (max-width: 47em) {
      .home_buttons {
        grid-template-columns: max-content;
        grid-template-rows: repeat(2, max-content);
        justify-content: center;
        grid-column-gap: 0rem;
        grid-row-gap: 2rem; } }

.knowledge {
  border: none;
  height: 0.1rem;
  background: #f9f7f6; }
  .knowledge_td {
    vertical-align: top;
    padding-bottom: 2rem; }
    .knowledge_td_header {
      width: 17vw;
      font-weight: bold;
      padding-right: 1rem; }
    .knowledge_td_content {
      padding-top: 0.5rem;
      padding-left: 1rem; }

table td, table td * {
  vertical-align: top; }

.language {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 47em) {
    .language {
      margin-top: 10vh;
      grid-column-gap: 10px;
      grid-row-gap: 15px; } }
  .language_text {
    font-family: 'Nunito', cursive;
    text-align: center;
    color: #6D5D4B; }
    .language_text_header {
      font-weight: bold;
      font-size: 2rem; }
  .language_img > img {
    padding: 2rem;
    height: 12rem;
    width: 100%; }

.motivation_img {
  width: 2rem;
  margin-right: 1rem; }

.motivation_p {
  margin-bottom: 0.9rem;
  font-size: inherit; }

.motivation_textbox {
    height: 70rem;
    margin-bottom: 0.9rem;
    font-size: inherit; }
  
.work {
  height: 70vh;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-content: start;
  align-items: start;
  justify-items: center; }
  .work_shape {
    width: 10vw;
    height: 10vw;
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    position: relative; }
    @media only screen and (max-width: 47em) {
      .work_shape {
        width: 18vw;
        height: 18vw; } }
    .work_shape.active > img {
      filter: blur(0px) brightness(100%);
      border: 1rem solid #6D5D4B; }
  .work_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }
  .work_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 800;
    font-size: 1.4rem;
    width: 8vw;
    border: 2px solid #6D5D4B;
    border-radius: 3rem;
    color: #54483A;
    background-color: rgba(249, 247, 246, 0.8);
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 47em) {
      .work_caption {
        width: 14vw; } }
  .work_details {
    justify-self: start;
    display: block;
    grid-row: 2/span 1;
    grid-column: 1/-1;
    align-self: start; }
