<div >
    <p ><b><u>{{masters}}</u></b></p>
    <br>
    <table class="study">
      <tbody>
        <tr class="study study_th">
          <th class="study study_th">Punt</th>
          <th class="study study_th">Cursus</th>
          <th class="study study_th">Link naar OU site</th>  
        </tr>
        <tr *ngFor="let item of pakket" class="study study-tr">
            <td class="study study_td_punt">{{item.punt}}</td>
            <td class="study study_td_vak">{{item.vak}}</td>
            <td class="study study_td_link"> 
              <a href={{item.ouLink}} target="_blank">{{item.vak}}</a>
            </td>
        </tr>
      </tbody>
    </table>        
  </div>
