<div class="popup pageframe_content">
  <div class="popup_content">
    <app-popupreturn></app-popupreturn>
    <p class="heading-2">Publicaties</p>
    <p><i>Statistische evaluatie van een onderzoek van een promovendus op de afdeling
      interne geneeskunde in het Catharina ziekenhuis</i></p>
    Journal of Internal Medicine, Volume 244. Page 209-216, - September 1998, &rdquo;Disease spectrum of patients with antineutrophil cytoplasmic autoantibodies of defined specificity: distinct differences between patients with anti-proteinase 3 and anti-myeloperoxidase autoantibodies&ldquo;, Franssen, Gans, Kallenberg, Hageluken & Hoorntje
    <br>
    <br>
    <p><i>Organon publicatie</i></p>
    Maturitas, Volume 56, Page 94-100, January 2007, &rdquo;Tibolone (Livial) enhances warfarin-induced anticoagulation in postmenopausal women&ldquo;, J. Elbers, C. Hageluken, A. Wadham
  </div>
</div>