<div class="infowork u-infomargin">
  <div class="infowork_task">
    <p class="heading-2" *ngIf="!info.period">{{info.task}}</p> 
    <p class="heading-2" *ngIf="info.period">{{info.task}} ({{info.period}})</p>
  </div>
  
  <div class="infowork_project-label">
    <p class="heading-3">Projectomschrijving</p>
  </div>
  <div class="infowork_project">
    <p *ngFor="let item of info.project">
    {{item}}</p>
  </div>
  <div class="infowork_description-label">
    <p class="heading-3">Werkzaamheden</p>
  </div>
  <div class="infowork_description">
    <p *ngFor="let desc of info.description">
    {{desc}}</p>
  </div>
  <div class="infowork_keyword-label">
    <p class="heading-3">Trefwoorden</p>
  </div>
  <div class="infowork_keyword">{{info.keyword}}</div>
</div>