<div class="popup pageframe-content">
  <div class="popup-content">
    <app-popupreturn></app-popupreturn>
    <app-titlen title="Statisticus bij Organon" titleno="2"></app-titlen>
    <p>In deze veelzijdige baan heb ik een aantal jaren intern projecten gedraaid met statistische analisten. In een groot internationaal project heb ik presentaties over statistische onderwerpen verzorgd voor wetenschappers en artsen
      (20-100 personen) in Cancun, Rome, Brussel, New York, Parijs en Amsterdam.</p>
    <p> Verder bestond het werk uit:</p>
    <ul >
      <li>opzetten statistisch plan voor klinische studies (fase 3 en 4)</li>
      <li>statistisch adviseren van medici en instrueren van statistische programmeurs</li>
      <li>dataverwerking met Oracle database (incl. implementatie Oracle database)</li>
      <li>schrijven van rapporten (Engelstalig)</li>
      <li>controleren van en adviseren bij werkzaamheden van programmeurs</li>
      <li>opstellen van werkprocedures (nodig voor FDA goedkeuring)</li>
    </ul>
  </div>
</div>
