.btn, .btn:link, .btn:visited{
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  }

.btn_large{
  color: $color_text_inverse;
  background-color: $color_primary_dark;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  font-size: $font_large;
  font-weight: 400;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 2rem;
  transition: all .5s;
}

.btn_info{
  color: $color_primary_dark;
  font-size: $font_extra_large;
  font-weight: 400;
  padding: .3rem 1rem;
  border: none;
}

.btn_small{
  color: $color_text_button;
  background-color: $color_primary_light;
  font-size: $font-small;
  padding: $small_padding;
  margin: $small_padding;

  border:1px solid rgba($color_primary_dark, 0.75);
  border-radius: 1rem;
   

  font-weight: 400;
}

.btn_large:active{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}


