.heading-2{
  font-size: $font-size-heading-2;
  letter-spacing: .13rem;
  color: $color-primary-dark;
}

.heading-3{
  display: inline-block;
  font-size: $font-size-heading-3;
  letter-spacing: .13rem;
  color: $color-text-button;
  text-align: left;
}
.heading-4{
  display: inline-block;
  font-size: $font-size-heading-4;
  letter-spacing: .13rem;
  color: $color-text-button;
  text-align: left;
}
