.infoline {
  // font-size: $font-medium;
  background-color: white;
  display: grid;
  justify-items: start;
  grid-template-columns: 8vw $infoline-width;
  margin-bottom: 1rem;

  @include respond(phone) {
    grid-template-columns: 15vw $basic-width;
  }
  
  grid-column-gap: 1vw;
  
  &-period {
    grid-column: 1/2;
  }

  &-remark {
    justify-self: start;
    grid-column: 2/3;
    padding-right: 1rem;
  }
}

  