.infowork {
    //padding: 0 1.5rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
    
    display: grid;
    justify-items: start;
    grid-template-columns: 10vw $infowork-width;
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 3vw;
    margin-bottom: $margin-inbetween;
 
    @include respond(large-phone) {
        grid-template-columns: 20vw $infowork-width-phone;
    }

    &-task {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    &-project {
        grid-column: 2/-1; 
        grid-row:2/3
    }
    &-description {
        grid-column: 2/-1;
        grid-row: 3/4;
    }
    &-keyword {
        grid-column: 2/-1;
        grid-row: 4/5;
    }
    &-task {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    &-project-label {
        grid-column: 1/2; 
        grid-row:2/3
    }
    &-description-label {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    &-keyword-label {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}
  
  