.infowork {
    //padding: 0 1.5rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
    
    display: grid;
    justify-items: start;
    grid-template-columns: 15vw $infowork_width;
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 3vw;
    margin-bottom: $margin_inbetween;
 
    @include respond(large-phone) {
        grid-template-columns: 25vw $infowork_width_phone;
    }

    &_task {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    &_project {
        grid-column: 2/-1; 
        grid-row:2/3
    }
    &_description {
        grid-column: 2/-1;
        grid-row: 3/4;
    }
    &_keyword {
        grid-column: 2/-1;
        grid-row: 4/5;
    }
    &_task {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    &_project-label {
        grid-column: 1/2; 
        grid-row:2/3
    }
    &_description-label {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    &_keyword-label {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}
  
  