.sidebar{
  display: grid;
  position: relative;
  
  grid-template-columns: 24vw;
  grid-template-rows: minmax(20rem, min-content) min-content;
  padding-bottom: 1rem;

  @include respond(large-phone) {
    grid-template-columns: 30vw 60vw;
    grid-template-rows: minmax(20rem, min-content);
    padding-bottom: 0rem;
  }
  color: $color_text_inverse;
  background-color: $color_primary_dark;

  &_pasfoto{
    grid-row: 1/2;
    display: flex;
    justify-content: center;  
    margin: 4vh 0; 
    @include respond(large-phone) {
      margin: 2vh 0; 
      grid-column: 1/2;
    }
  }

  &_img {
    width: 15vw;
    height: 18vw;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem $color_primary;
  }

  &_textbox{
    grid-row: 2/3;
    margin-left: 2vw;
    padding: 0 1vw;
    display: inline-block;

    @include respond(large-phone) {
      font-size: $font_medium;
      align-self: center;
      grid-column: 2/3;
      grid-row: 1/2;
      margin-right: 2vw;
    }
  }

  &_label{
    font-weight: bold;
  }

  &_input{
    margin-left: 0.5vw;
  }

  &_a{
    a {
      color: $color_text_inverse;
    }
    margin-right: 0.5vw;
    border: none;
    white-space: nowrap;
    text-decoration: none;
  }
}
