.table, .th, .td {
    border: $border_dark;
}

.tr {
    height: 1rem;
}
.study{
    border-collapse: collapse;
    border: $border_dark;
    height: 0.1rem;
    &_th {
        background-color:$color_primary_dark;
        color: $color_primary_light;
        text-align: left;
        padding: 0.1rem 0.4rem;
    }
        
    &_td {
        background:$color_primary_light;
        padding: 0.1rem 0.1rem;        
        &_vak {
            padding: 0.1rem 0.3rem;     
            width: 30rem;
        }
        &_punt {
            text-align: center;
            padding: 0.1rem 0rem;
            width: 5rem;
        }                                               
    }
}

