.tabs{
  background-color: $color-primary-light;    
  box-shadow: 0 0.5rem 1rem $color-primary; 
  border-radius: 1rem;
  width: $basic-width;
  display: grid;
  grid-template-columns: repeat(8, max-content);
  justify-content:space-around;
  
  @include respond(phone) {
    box-shadow: none; 
    border: none;
  }

  &-a {
    font-size: $font-medium; 
    float: right;
  }
  &-active {
    background-color: $color-primary;
    border-radius: 1rem;
  }
}
  