.tabs{
  background-color: $color-primary-light;    
  box-shadow: 0 0.5rem 1rem $color-primary; 
  border-radius: 1rem;
  
  display: grid;
  grid-template-columns: repeat(8, max-content);
  align-content: center; 

  @include respond(phone) {
    box-shadow: none; 
    border: none;
    margin: 1vh 0;
  }

  &-a {
    font-size: $font-medium;
    @include respond(phone) {
      font-size: $font-medium;
    } 
    float: right;
  }
  &-active {
    background-color: $color-primary;
    border-radius: 1rem;
  }
}
  