<div class="home">
  <img class="home_pasfoto" src="assets/images/home/2025Pasfoto.png" alt="Logo"  >

  <div class="home_textbox">
    <h1 class="home_primary">
      <span class="home_primary_main">Maak kennis met&nbsp;</span>
      <span class="home_primary_main">Conny Hageluken</span>
      <br>
      <br>
      <span class="home_primary_sub">ICT professional,&nbsp;&nbsp;</span>
      <span class="home_primary_sub">Full Stack Java developer,&nbsp;&nbsp;</span>
      <br>
      <span class="home_primary_sub">AI developer&nbsp;&nbsp;</span>
      <span class="home_primary_sub">en&nbsp;&nbsp;teamplayer</span>
    </h1>
    <div class="home_buttons">

      <div class="btn btn_large"
           (click)="routeChange('education')" >
           Bekijk mijn CV</div>
      <div class="btn btn_large"
          (click)="routeChange('motivation')" >
          Mijn motivatie</div>
    </div>
  </div>
</div>
