<div class="home">
  <img class="home-pasfoto" src="assets/images/home/2021Pasfoto.jpg" alt="Logo"  >

  <div class="home-textbox">
    <h1 class="home-primary">
      <span class="home-primary-main">Maak kennis met&nbsp;</span>
      <span class="home-primary-main">Conny Hageluken</span>
      <br>
      <span class="home-primary-sub">ICT professional,&nbsp;</span>
      <span class="home-primary-sub">Full Stack Java developer&nbsp;</span>
      <span class="home-primary-sub">en teamplayer</span>
    </h1>
    <div class="home-buttons">

      <div class="btn btn-large"
           (click)="routeChange('education')" >
           Bekijk mijn CV</div>
      <div class="btn btn-large"
          (click)="routeChange('motivation')" >
          Mijn motivatie</div>
    </div>
  </div>
</div>
