<div class="language">
  <div class="language_text">
    <p class="heading-2">Engels</p>    
    <p>Cambridge Certified Proficiency level</p>
  </div>
  <div class="language_img">
    <img src="assets/images/languages/engels.png" alt="frans">
  </div>
  <div class="language_text">
    <p class="heading-2">Duits</p>
    <p>zowel schriftelijk als mondeling goed</p>
  </div>
  <div class="language_img">
    <img src="assets/images/languages/duits.png" alt="duits">
  </div>
  <div class="language_text">
    <p class="heading-2">Frans</p>
    <p>zowel schriftelijk als mondeling goed</p>
  </div>
  <div class="language_img">
    <img src="assets/images/languages/frans.png" alt="frans">
  </div>
</div>
