<div class="language">
  <div class="language-text language-1">
    <app-titlen titleno=2 title="Engels"></app-titlen>    
    <p>Cambridge Certified Proficiency level</p>
    <a href="https://youtu.be/S_o-TJRHuIQ"></a>;
  </div>
  <div class="language-img">
    <img src="assets/images/languages/engels.png" alt="frans">
  </div>
  <div class="language-text">
    <app-titlen titleno=2 title="Duits"></app-titlen>
    <p>zowel schriftelijk als mondeling goed</p>
    <a href="https://youtu.be/MlpEPaDPQys"></a>
  </div>
  <div class="language-img">
    <img src="assets/images/languages/duits.png" alt="duits">
  </div>
  <div class="language-text">
    <app-titlen titleno=2 title="Frans"></app-titlen>
    <p>zowel schriftelijk als mondeling goed</p>
    <a href="https://www.youtube.com/embed/watch?v=_w7XcQC2UeI"></a>
  </div>
  <div class="language-img">
    <img src="assets/images/languages/frans.png" alt="frans">
  </div>
</div>
