.home {
  position: relative;
  height: 95vh;
  @include respond(phone) {
    height: 50vh;
  }

    background-image:
    linear-gradient(to right,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../../assets/images/home/startpagina_background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0 , 100% 0, 100% 75vh, 0 100%);
  @include respond(phone) {
    clip-path: polygon(0 0 , 100% 0, 100% 40vh, 0 100%);
  }

  &-pasfoto {
    position: absolute;
    top: 4%;
    right: 2%;
    border: $border-dark;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem $color-primary;
    width: 20%;
  }

  &-textbox{
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &-primary{
    color: $color-text-base;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }

  &-primary-main{
    display: inline-block;
    font-size: 3rem;
    letter-spacing: .2rem;
  }

  &-primary-sub{
    display: inline-block;
    font-size: 1.8rem;
    letter-spacing: .13rem;
  }
  &-buttons{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 2rem;
    @include respond(phone) {
      grid-template-columns: max-content;
      grid-template-rows: repeat(2, max-content);
      justify-content: center;
      grid-column-gap: 0rem;
      grid-row-gap: 2rem;
    }
  }
}



