.knowledge{
  border: none;
  height: 0.1rem;
  background: $color_primary_light;
  
  &_td {
    vertical-align: top;
    padding-bottom: 2rem;
    &_header {
      font-weight: bold; 
      padding-right: 2rem;
    } 
    &_content {
      padding-left: 2rem;
    }                                              
  }
}

