
.table, .th, .td {
  border: $border-dark;
  valign: top;
  }

.knowledge{
  border-collapse: collapse;
  border: $border-dark;
  height: 0.1rem;
  &-th {
      background-color:$color-primary-dark;
      color: $color-primary-light;
      text-align: left;
      padding: 0.1rem 0.4rem;
  }
      
  &-td {
      background:$color-primary-light;
      padding: 0.1rem 0.1rem;        
      &-header {   
        padding: 0.1rem 0rem;
        width: 20rem;
        vertical-align: top;
    }                                               
    &-content {
          padding: 0.1rem 0.3rem;     
          font-size: $font-size-knowledge;
      }
  }
}

