.language{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 15px;
  grid-row-gap: 20px;

  @include respond(large-phone){
    margin-top: 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 15px;    
  }
  
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;

  &_text {
    font-family: 'Nunito', cursive;
    text-align: center;
    color: $color_primary_dark;
    &_header {
      font-weight: bold;
      font-size: $font_large;
    }
  }
  &_img >img{
    padding: 2rem;
    height: 12rem;
    width: 100%;
  }
}
