.work{
  height: 70vh;
  background-color: $color_primary_light;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content ;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-content: start;
  align-items: start;
  justify-items: center;

  &_shape {
    width: 10vw;
    height: 10vw;
    @include respond(large-phone) {
      width: 18vw;
      height: 18vw;
    }
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    position: relative;
    &.active >img{
      filter: blur(0px) brightness(100%);
      border: 1rem solid $color_primary_dark;
    } 
  }

  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;      
  }

  &_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 800;
    font-size: $font_medium; 
    width: 8vw;
    @include respond(large-phone) {
      width: 14vw;
    }
    border: 2px solid $color_primary_dark;
    border-radius: 3rem;
    color: $color_text;
    background-color: rgba($color_primary_light, 0.8);
    transform: translate(-50%, -50%); 
    text-align: center;
  }

  &_details {
    justify-self: start;
    display: block;
    grid-row:2/span 1;
    grid-column: 1/-1;
    align-self: start;
  }  
  
}
