<div class="motivation_textbox">
    <div>
      <p class="heading-2 u-left_text u-margin-bottom-small">Motivatie</p>   
    </div>

    <p class=“motivation_p”>Als Java ontwikkelaar heb ik ruime ervaring op het gebied van webservices, test engineering en algemene Java-applicaties. Op het gebied van front-end ben ik gespecialiseerd in Angular en SASS/SCSS. Daarnaast heb ik ook ruime ervaring met een breed scala aan AI-technieken.</p>
    <br>
    <p class=“motivation_p”>Ik ben op zoek naar opdrachten waarbij een combinatie van ontwikkelen in Java of Python, wiskunde/statistiek en technische innovaties van toepassing zijn. Toevoegen van nieuwe functionaliteit waarbij de logica geborgd is en onderhoudbaarheid verzekerd is voor mij een pluspunt. Zeker als daar fundamentele, complexe structuren uit voortvloeien. Mijn voorkeur gaat uit naar onderwijs of gezondheidszorg gerelateerde opdrachten. AI gerelateerde projecten zijn meer dan welkom.</p>
    <br>
    <p class=“motivation_p”>Ik bezit een sterk analytisch vermogen en ben creatief en oplossingsgericht in denken en handelen.  Mijn wiskunde/statistiek achtergrond en huidige ICT-opleiding zorgen ervoor dat ik me als een vis in het water voel met ICT-problemen waarbij testen, algoritmen, logica, statistiek en AI een belangrijke rol spelen.</p>
    <br>
    <p class=“motivation_p”>In het verleden heb ik bij Sligro gewerkt aan Supply-Chain-Management applicaties. Daarna heb ik bij QFactors bv gewerkt aan een eigen ERP pakket voor het MKB en korte tijd bij Beeyond bv, een kleine firma die een eigen framework voor een Product Informatie Management Systeem (PIM) aanbiedt. Mijn laatste werkgever was Smart Floor, een producent van een innovatieve bewegingsanalyse applicatie.</p>
    <br>
    <p class=“motivation_p”>Een sleutelbeenbreuk en gekneusde ribben hebben ervoor gezorgd dat ik recentelijk voor langere tijd uit de running ben geweest.  Vanaf april&nbsp;2025 ben ik 4&nbsp;dagen per week beschikbaar voor een nieuwe uitdaging.</p>
    <br>
    <p class="motivation_p">
      <img class="motivation_img"
            src="assets/images/education/OULogo.jpg"
            alt="OU logo"
            align="left" >
    Na de master Software Engineering (juli 2022) ben ik nu
    bezig met de master Kunstmatige Intelligentie.
    <br>
    Binnenkort begin ga ik beginnen met afstuderen.</p>
    <br>
    <p class="motivation_p2">Conny Hageluken</p>
    <p>Eindhoven,&nbsp;februari&nbsp;2025</p>   
</div>
