<div class="motivation_textbox">
    <div>
      <h2 class="heading-secondary">Motivatie </h2>
      
    </div>

    <p class="motivation_p">Als fervent Java ontwikkelaar heb ik ruime ervaring op
    het gebied van web-services, test engineering en algemene Java applicaties. Op
    het gebied van front-end ben ik gespecialiseerd in Angular 10/11 en SCSS (Udemy
    cursus afgerond).</p>

    <p class="motivation_p">Ik ben op zoek naar opdrachten waarbij een combinatie
    van ontwikkelen in <b>Java</b>, wiskunde/statistiek (TUe) en technische
    innovaties van toepassing is.</p>

    <p class="motivation_p">Ik bezit een sterk analytisch vermogen en ben creatief
    en oplossingsgericht in denken en handelen. Mijn wiskunde/statistiek
    achtergrond en huidige ICT opleiding zorgen ervoor dat ik me als een vis in het
    water voel met ICT problemen waarbij testen, algoritmen, logica en statistiek
    een belangrijke rol spelen.</p>

    <p class="motivation_p">In het verleden heb ik bij Sligro gewerkt aan Supply-Chain-Management applicaties.<br>
    De laatste jaren heb ik bij QFactors bv gewerkt aan een eigen ERP pakket voor het MKB. </p>
   

    <p class="motivation_p">
      <img class="motivation_img"
            src="assets/images/education/OULogo.jpg"
            alt="OU logo"
            align="left" >
    In 2013 ben ik gestart met een universitaire opleiding Informatica aan de Open
    Universiteit waarbij veel aandacht is besteed aan praktische
    ervaring, veelal met Java, maar ook met andere talen. <br>
    Een deel van het <a routerLink="../education/study">vakkenpakket</a> leidt op voor het offici&euml;le CPP Gecertificeerd
    Javaprogrammeur.</p>

    <p class="motivation_p">
      <img class="motivation_img"
            src="assets/images/motivation/diploma.png"
            alt="diploma"
            align="left" >
    Momenteel ben ik mijn master Software Engineering aan het afronden (8&nbsp;juli&nbsp;2022).</p>
    <br>
    <p class="motivation_p2">Conny Hageluken</p>
    <p>Eindhoven, 2022</p>   
</div>
