<div class="work">
  <a class="btn_small work_shape " 
     routerLink="ict" 
     routerLinkActive="active"
     (click)="routeChange('work/ict')" >
    <img src="assets/images/work/laptop.png" alt="ICT image" class="work_img">
    <span class="work_caption">ICT</span>
  </a>
  <a class="btn_small work_shape" 
     routerLink="school"
     routerLinkActive="active"
     (click)="routeChange('work/school')">
    <img src="assets/images/work/school.png" alt="school image" class="work_img">
    <span class="work_caption">Onderwijs</span>
  </a>
  <a class="btn_small work_shape" 
     routerLink="pharmacy"
     routerLinkActive="active"
     (click)="routeChange('work/pharmacy')">
    <img src="assets/images/work/pharmacy.png" alt="pharmacy image" class="work_img">
    <span class="work_caption">Industrie</span>
  </a>
  <div class="work_details">
    <router-outlet></router-outlet>
  </div>
</div>


<!--

Wiskunde projecten
2012/2013	Coauteur vakwerkplan wiskunde voor alle Luzac vestigingen
Juli 2011	Begeleider bij de Internationale Wiskunde Olympiade in Amsterdam
2009-2012	lid van het regionaal steunpunt wiskunde D, zowel voor vwo (samenwerking met TUE) als havo (samenwerking met Fontys).
2009-2011	projectleider van een digitaliseringproject op het Sondervick college in samenwerking met het St Joriscollege en uitgeverij Noordhoff.

-->
