<div class="work">
  <a class="btn-small work-shape" routerLink="ict" routerLinkActive="active" >
    <img src="/assets/images/work/laptop1.png" alt="ICT image"
          class="work-img work-img-1">
    <span class="work-caption">ICT</span>
  </a>
  <a class="btn-small work-shape" routerLink="school">
    <img src="/assets/images/work/school1.png" alt="school image"
          class="work-img work-img-2">
    <span class="work-caption">Onderwijs</span>
  </a>
  <a class="btn-small work-shape" routerLink="pharmacy">
    <img src="/assets/images/work/pharmacy1.png" alt="pharmacy image"
          class="work-img work-img-3">
    <span class="work-caption">Industrie</span>
  </a>
  <div class="work-details">
    <router-outlet></router-outlet>
  </div>
</div>


<!--

Wiskunde projecten
2012/2013	Coauteur vakwerkplan wiskunde voor alle Luzac vestigingen
Juli 2011	Begeleider bij de Internationale Wiskunde Olympiade in Amsterdam
2009-2012	lid van het regionaal steunpunt wiskunde D, zowel voor vwo (samenwerking met TUE) als havo (samenwerking met Fontys).
2009-2011	projectleider van een digitaliseringproject op het Sondervick college in samenwerking met het St Joriscollege en uitgeverij Noordhoff.

-->
