$color-primary-light:rgb(249, 247, 246);
$color-primary: rgb(170, 170, 170);
$color-primary-dark: #6D5D4B;
$color-text: #54483A;
$color-text-inverse: white;
$color-text-button: rgb(54, 53, 53);

// borders
$border-light: 0.2rem solid $color-primary-light;
$border-dark: 0.2rem solid $color-primary-dark;

// responsive breakpoints
$bp-largest: 75%;        // 1800px => 1rem = 12px  12/16
$bp-large:  56.25%;      // 1200px => 1rem = 9px    9/16 = 62.5%
$bp-medium: 50%;         //  900px => 1rem = 8px    8/16
$bp-smallmedium: 43%;        //  600px => 1rem = 6px    6/16
$bp-small: 37.5%;        //  600px => 1rem = 6px    6/16

$font-extralarge: 4rem;
$font-large: 2rem;
$font-large-medium: 1.7rem;
$font-medium: 1.4rem; 
$font-medium-small: 1.2rem;
$font-small: 1rem;
$font-extra-small: 0.5rem;

$font-size-hobbies: $font-medium-small;
$font-infotable: $font-medium;
$font-size-popup: $font-medium;
$font-size-work-caption: $font-medium;

$font-size-button-large: $font-large;
$font-size-button-extralarge: $font-extralarge;

$font-size-heading-2: $font-large; 
$font-size-heading-3: $font-medium;
$font-size-heading-4: $font-small;
$font-size-close: 2.5rem; // close cross

$small-padding: 0.2vw;
$large-width: 90vw;

// pageframe standard
// sidebar: side-width
// tabs   : content-width
// content: content-width = 
//          - basicwidth + 
//          - borderwidth (left padding)
//          - borderwidth (right coloured border-right)

$content-width: 76vw; // 70 + 2*3;
$border-width: 3vw;
$border-right: $border-width solid $color-primary-dark;
$side-width: 24vw; // 100 -76
$basic-padding: 3vw;
$basic-width: 70vw;

// pageframe phone
// sidebar: side-width (2 * $phone-half)
// tabs   : content-width (second bar)
// content: content-width = 
//          - basic-width + 
//          - border-width (left padding)
//          - border-width (right coloured border-right)

$phone-padding: 1vw;
$phone-width: 90vw;
$phone-half: 45vw;

// popup standard
// total width: basic-width (70vw)
// infoline-width: infoline-width (60vw); 

$infoline-width: 60vw;
$infowork-width: 50vw;
$infowork-width-phone: 60vw;

// popup phone
// total width: $phone-width (90vw)
// infoline-width: content-width ;
