* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  zoom: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: $color_text;
  padding: 1vw;

  @include respond(large-phone) {
    margin: 0;
    padding: 0rem;
    padding-top: 1vh;
  }
}

html{
  background-color: $color_primary_light;
  font-size: 62.5%;

  @include respond(tab-land) { font-size: $bp_large; }
  @include respond(tab-port) { font-size: $bp_medium; }
  @include respond(large-phone) { font-size: $bp_small_medium; }
  @include respond(phone) { font-size: $bp_small; }
  @include respond(big-desktop) { font-size: $bp_largest; }   
}

